fastapi
uvicorn[standard]

python-dotenv

PyGithub

langchain
langchain-openai
fastapi
uvicorn[standard]

python-dotenv

PyGithub

langchain
langchain-google-genai

Jinja2
python-docx
pypandoc

langchain-anthropic
openai
anthropic

Jinja2
python-docx
pypandoc

tree-sitter